<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Time work</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script th:src="@{/time.js}"></script>
</head>
<body ng-app="TimeManagement" ng-controller="TimeController">
<th:block th:include="/_menu"></th:block>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-12">
            <table class="table table-condensed" align="center">
                <tbody>
                <tr>
                    <td>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="actionUser('come')">Пришёл</button>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="actionUser('out')">Ушёл</button>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="actionUser('worked')">Отработал</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-12">
            <table id="times" class="table table-condensed" align="center">
                <caption>
                    <legend align="center">Time worked</legend>
                </caption>
                <tbody>
                <tr>
                    <td>{{result}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>